@font-face {
    font-family: Neutral face;
    src: url("./fonts/NeutralFace.otf") format("opentype"); 
}

@font-face {
    font-family: kenoky;
    src: url("./fonts/KenokyLight.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
}
.main-home{
    background-image: url(./images/Ellipse_landing_page.svg);
    background-repeat: no-repeat;
    background-size: contain;

    animation-name: fadein;
    animation-duration: 1.5s;
}

.main-about{
    background-image: url(./images/Ellipse_about_page.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    animation-name: fadein;
    animation-duration: 2s;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h1{
    margin: 0;
    font-family: kenoky;
    font-weight: lighter;
    font-size: 130px;
    line-height: 0.9;
}

h2{
   font-family: Neutral face;
   font-weight: bolder;
   font-size: 18px;
   text-align: center;
}

h3{
    margin: 0;
    font-family: Neutral face;
    font-weight: lighter;
    font-size: 26px;
  
}

span{
    font-weight: lighter;
}
.button-menu{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    list-style: none;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link{
    text-decoration: none;
    color: black;

    padding-bottom: 2px;
}

.button-link:hover{
/* fix underline padding jumping issue */
    border-bottom: black 2px solid;
    padding-bottom: 0px;
}

.selected{
    border-bottom: black 2px solid;
    padding-bottom: 0px;
}


#header{
    z-index: 2;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    top: 52px;
}

#menu{
    display: flex;
}



#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
}

a.arrow{
    border-bottom: 0px;
}

a.arrow:hover{

    padding-left: 5px;
}

#footer{
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 5%;
    bottom: 32px;
}