@font-face {
  font-family: Neutral face;
  src: url("./fonts/FontsFree-Net-NeutralFace.ttf") format("truetype");
}

@font-face {
  font-family: Neutral face bold;
  src: url("./fonts/neutralface-bold-_1_.ttf") format("truetype");
}

@font-face {
  font-family: kenoky;
  src: url("./fonts/KenokyLight.ttf") format("truetype");
}

@font-face {
  font-family: "true helvetica";
  src: url("./fonts/HelveticaLTStd-Blk.otf") format("opentype");
}

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}
.main-home {
  background-image: url(./images/Ellipse_landing_page.svg);
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: fadein;
  animation-duration: 1.5s;

  height: 100vh;
}

.main-about {
  background-image: url(./images/Ellipse_about_page.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  animation-name: fadein;
  animation-duration: 2s;

  height: 100vh;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin: 0;
  font-family: kenoky;
  font-weight: lighter;
  font-size: 130px;
  line-height: 0.9;
}

h2 {
  font-family: Neutral face bold;
  font-size: 18px;
  text-align: center;
}

h3 {
  margin: 0;
  font-family: Neutral face;
  font-weight: lighter;
  font-size: 26px;
}

span {
  font-family: Neutral face;
  font-weight: lighter;
}
.button-menu {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  list-style: none;
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  text-decoration: none;
  color: black;

  padding-bottom: 2px;
}

.button-link:hover {
  /* fix underline padding jumping issue */
  border-bottom: black 2px solid;
  padding-bottom: 0px;
}

.selected {
  border-bottom: black 2px solid;
  padding-bottom: 0px;
}

#header {
  z-index: 2;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-position {
  left: 5%;
  top: 52px;
}

.fixed-position {
  position: fixed !important;
}

#menu {
  display: flex;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.padding-top-25 {
  padding-top: 25px;
}

a.arrow {
  border-bottom: 0px;
}

a.arrow img {
  margin: 0px 21px;
}

a.arrow:hover {
  padding-left: 5px;
}

#footer {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: 5%;
  bottom: 32px;
}

.hello-about {
  font-family: "true helvetica";
  font-size: 45px;
  font-weight: bolder;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  width: 665px;
  height: 290px;
  margin: 0;
  line-height: 1.7;
  margin: 10px 0 0 0;
}

#title-about {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 130px;
  margin-bottom: 130;
  margin-right: 0;
}

.laura {
  font-family: "true helvetica";
  font-size: 45px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#profile-image {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
}
.me {
  background-size: contain;
  background-position: center;
}

.main-work {
  background-image: url(./images/Ellipse_about_page.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  animation-name: fadein;
  animation-duration: 2s;
  height: 100vh;
}
#title-work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 0;
  width: 100%;
}

.check-out {
  font-family: "true helvetica";
  font-size: 45px;
  font-weight: bolder;
  width: 90%;
  margin-bottom: 10px;
}

.my-work {
  font-family: "true helvetica";
  font-size: 45px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

a.button-home {
  text-decoration: none;
  color: black;
}

#gallery {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  column-gap: 50px;
  padding: 50px 100px 0 100px;
}

.project-container {
  height: 300px;
  background-color: white;
  border: rgb(102, 102, 102) solid 1px;
  width: 300px;
  position: relative;
}

h4 {
  font-family: Neutral face;
  font-size: 25px;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: -15px;
}

.thumbnail {
  size: contain;
}

/* Burger Menu */
.burger-menu-container {
  display: none;
  justify-content: flex-end;
  position: absolute;
  right: 1em;
  top: 1em;
}

.nav-menu-btn {
  display: block;
  cursor: pointer;

  padding: 6px 0;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: #000;
  margin: 0px 10px 6px;

  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background: #50cbe5;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background: #50cbe5;
}

.show {
  left: 0% !important;
}
.recommendation{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
  width: 100%;
  
}
.recommendation:hover {
  /* fix underline padding jumping issue */
  border-bottom: black 2px solid;
  padding-bottom: 0px;
}
a.link-recommendation {
  text-decoration: none;
  color: black;

/*
#########################################
# RESPONSIVE STYLING
#########################################
*/

/* ### LAPTOP/TABLET ### */
@media screen and (max-width: 1100px) {
  /* ### GENERAL ### */
  h1 {
    font-size: 100px;
  }
  h3 {
    font-size: 20px;
  }
  .arrow img {
    transform: scale(0.8);
    margin: 0px 21px;
  }

  .main-home,
  .main-about,
  .main-work {
    background-size: cover;
  }

  /* ### HOME ### */

  /* ### ABOUT ### */
  #title-about p {
    width: 95%;
    height: auto;
  }

  .arrow-button {
    margin: 10px 0;
  }

  /* ### WORK ### */
  .main-work {
    background-position: top;
  }
}

/* ### TABLET ### */
@media screen and (max-width: 768px) {
  /* ### GENERAL ### */
  h1 {
    font-size: 70px;
  }
  h2,
  .button-home {
    display: none;
    text-align: left;
  }
  h3 {
    font-size: 20px;
  }
  .arrow img {
    margin: 0px 11px;
  }

  #header {
    flex-direction: column;
    position: initial;

    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-out;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  #menu {
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 25px;
  }
  .header-position {
    top: 0px;
    left: -100%;
  }
  #menu li {
    margin-bottom: 20px;
    padding: 0;
  }

  /* ### Burger Menu ### */
  .burger-menu-container {
    z-index: 10;
    display: flex;
  }

  /* ### HOME ### */

  /* ### ABOUT ### */
  .main-about {
    background-image: none;
    flex-direction: column;
    height: auto;
  }

  #title-about {
    align-items: center;
  }
  #title-about .hello-about,
  #title-about .hello-about .laura {
    font-size: 36px;
  }
  #title-about p,
  #title-about .hello-about {
    width: 95%;
    text-align: left;
  }

  /* ### WORK ### */
  .main-work {
    background-image: none;
    flex-direction: column;
    height: auto;
  }

  #gallery {
    height: auto;
    overflow-y: initial;
    padding: 50px 0 0 0;
  }

  .check-out,
  .my-work {
    font-size: 35px;
  }
}

/* ### MOBILE ### */
@media screen and (max-width: 420px) {
  /* ### GENERAL ### */
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 20px;
  }

  /* ### HOME ### */

  /* ### ABOUT ### */
  #profile-image,
  .me {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* ### WORK ### */
  .main-work {
    background-image: none;
  }

  .check-out,
  .my-work {
    font-size: 24px;
  }
  
}
